<div class="flex flex-col w-[300px] justify-center ">
  <div class="rounded-[30px] bg-[#F0EEED] w-[300px] h-[300px] flex justify-center m-0">
    <img src="/assets/versace.svg" alt="">
  </div>
  <h2 class="pt-[16px] font-satoshi font-semibold">T-shirt with Tape Details</h2>
  <div class="grid grid-cols-6 w-[120px] mt-[8px]">
    <app-star-icon size="20"></app-star-icon>
    <app-star-icon size="20"></app-star-icon>
    <app-star-icon size="20"></app-star-icon>
    <app-star-icon size="20"></app-star-icon>
    <app-star-icon size="20"></app-star-icon>

    <p class="parag pl-2">4.5/5</p>
  </div>
  <h2 class="font-semibold font-satoshi ">$120</h2>
</div>
