<app-main-screen></app-main-screen>
<app-marque></app-marque>
<div class="flex flex-col items-center justify-center">
  <h1 class="mt-[72px] font-integral font-semibold text-5xl">new arrivals</h1>
</div>
<app-arrivals-screen id="arrives"></app-arrivals-screen>
<div class="flex flex-col items-center justify-center">
  <h1 class="mt-[72px] font-integral font-semibold text-5xl">top selling</h1>
</div>
<app-arrivals-screen></app-arrivals-screen>
<div class="layout mt-4">
  <app-mailbar></app-mailbar>
</div>
