<div class="layout grid grid-cols-4 gap-6 justify-items-center mt-10">
  <div class="grid grid-rows-5 gap-2">
    <h1 class="font-integral text-black text-xl">Company</h1>
    <p class="font-satoshi font-semibold">About</p>
    <p class="font-satoshi font-semibold">Features</p>
    <p class="font-satoshi font-semibold">Works</p>
    <p class="font-satoshi font-semibold">Career</p>
  </div>
  <div class="grid grid-rows-5 gap-2">
    <h1 class="font-integral text-black text-xl">Help</h1>
    <p class="font-satoshi font-semibold">Customer Support</p>
    <p class="font-satoshi font-semibold">Delivery Details</p>
    <p class="font-satoshi font-semibold">Terms & Conditions</p>
    <p class="font-satoshi font-semibold">Privacy Policy</p>
  </div>
  <div class="grid grid-rows-5 gap-2">
    <h1 class="font-integral text-black text-xl">FAQ</h1>
    <p class="font-satoshi font-semibold">Account</p>
    <p class="font-satoshi font-semibold">Manage Deliveries</p>
    <p class="font-satoshi font-semibold">Orders</p>
    <p class="font-satoshi font-semibold">Payments</p>
  </div>
  <div class="grid grid-rows-5 gap-2">
    <h1 class="font-integral text-black text-xl">Resources</h1>
    <p class="font-satoshi font-semibold">Free eBooks</p>
    <p class="font-satoshi font-semibold">Development Tutorial</p>
    <p class="font-satoshi font-semibold">How to - Blog</p>
    <p class="font-satoshi font-semibold">Youtube Playlist</p>
  </div>
</div>
