<div class="bg-black h-[100px] items-center flex">
  <marquee scrollamount="10" behavior="scroll" direction="left">
    <div class="flex gap-36 items-center">
      <img src="/assets/versace.svg" alt="">
      <img src="/assets/zara.svg" alt="">
      <img src="/assets/gucci.svg" alt="">
      <img src="/assets/prada.svg" alt="">
      <img src="/assets/ck.svg" alt="">
      <img src="/assets/versace.svg" alt="">
      <img src="/assets/zara.svg" alt="">
      <img src="/assets/gucci.svg" alt="">
      <img src="/assets/prada.svg" alt="">
      <img src="/assets/ck.svg" alt="">
    </div>

  </marquee>
</div>
