<div class="flex h-[64px] sm:h-[100px] w-screen bg-white justify-between md:layout">

  <div class="flex items-center justify-start w-full">
    <app-menu-icon class="text-black md:hidden px-3 mt-2" size="24"></app-menu-icon>
    <h1 class="font-integral font-bold md:text-[32px]">shop.co</h1>
    <div class="hidden md:grid grid-cols-4 xl:w-2/4 pl-[40px] md:w-full">
      <h3 class="font-satoshi font-light">Shop</h3>
      <h3 class="font-satoshi font-light">On Sale</h3>
      <h3 class="font-satoshi font-light">New Arrivals</h3>
      <h3 class="font-satoshi font-light">Brands</h3>
    </div>
    <app-searchbar class="hidden sm:w-2/3 xl:grid xl:w-full"></app-searchbar>

  </div>
  <div class="flex items-center mt-2 gap-1 px-3">
    <app-search-icon size="24" class="md:hidden"></app-search-icon>
    <app-cart-icon size="24"></app-cart-icon>
    <app-profile-icon size="24"></app-profile-icon>
  </div>
</div>
