<div class="bg-[#F0F0F0] layout flex h-screen">
  <div class="pt-[103px] w-1/2 relative z-10">
    <h2 class="text-wrap font-integral text-7xl font-bold uppercase leading-[1] tracking-wider">find clothes that
      matches your style</h2>
    <p class="parag">Browse through our diverse range of meticulously crafted garments,
      designed to bring out your individuality and

      cater to your sense of style.</p>
    <div class="mt-[32px]">
      <app-black-btn width="210" class=""></app-black-btn>
    </div>
    <div class="grid grid-cols-3 mt-14">
      <div class="flex flex-col">
        <h1 class="text-black font-normal font-integral text-5xl">200+</h1>
        <p class="parag">International Brands</p>
      </div>
      <div class="flex flex-col">
        <h1 class="text-black font-normal font-integral text-5xl">2,000+</h1>
        <p class="parag">High-Quality Products</p>
      </div>
      <div class="flex flex-col">
        <h1 class="text-black font-normal font-integral text-5xl">30,000+</h1>
        <p class="parag">Happy Customers</p>
      </div>
    </div>
  </div>
  <img src="/assets/peoples.svg" alt="" class="absolute  items-center right-0 h-fit w-full">
</div>
