/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'IntegralCF';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/IntegralCF-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Satoshi-Light.woff2) format('woff2');
  }
}

@layer utilities {
  .layout {
    @apply md:px-[100px]
  }

  .parag {
    @apply font-satoshi opacity-75 mt-7
  }
}
